{% extends "layout.html" %}

{% block content %}

    <!-- <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 新建用户 </h3>
            </div>
            <div class="panel-body">

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" class="form-control" placeholder="姓名" name="name" />
                        <label>姓别</label>
                        <select class="form-control">
                            {% for gender in gender_choices %}
                                <option value="{{gender.0}}">{{gender.1}}</option>
                            {% endfor %}
                        </select>
                        <label>部门</label>
                        <select class="form-control">
                            {% for depart in departs %}
                                <option value="{{depart.id}}">{{depart.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>
    </div>-->
    
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 新建用户 </h3>
            </div>
            <div class="panel-body">

                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group" style="margin-top: 1%;" >
                        <label>{{field.label}}</label>
                        {{field}}
                        <span style="color: red;">{{field.errors.0}}</span>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" style="margin-top: 1%;">提 交</button>

                </form>
            </div>
        </div>
    </div>    


{% endblock %}
